[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
[submodule "ThirdParty/fastgltf"]
	path = ThirdParty/fastgltf
	url = https://github.com/spnda/fastgltf
	shallow = true
[submodule "ThirdParty/simdjson"]
	path = ThirdParty/simdjson
	url = https://github.com/simdjson/simdjson
	shallow = true
[submodule "ThirdParty/concurrentqueue"]
	path = ThirdParty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
	shallow = true
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
	shallow = true
[submodule "ThirdParty/flecs"]
	path = ThirdParty/flecs
	url = https://github.com/SanderMertens/flecs
	shallow = true
[submodule "ThirdParty/JoltPhysics"]
	path = ThirdParty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "ThirdParty/NFD-Extended"]
	path = ThirdParty/NFD-Extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "ThirdParty/nlohmann/json"]
	path = ThirdParty/nlohmann/json
	url = https://github.com/nlohmann/json
	branch = master
