[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Premake/premake-vscode"]
	path = Premake/premake-vscode
	url = https://github.com/peter1745/premake-vscode
